// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/summary-list';
@import 'components/timeline';
@import 'components/tag';
@import 'components/loading';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.nobr {
    white-space: nowrap;
}

.invert-panel {
    background-color:#005eb8;
    padding: 20px 30px;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #212b32;
        }
    }
}

.no-margin {
    @include mq($from: desktop) {
        margin-top:0; margin-bottom: 0;
    }
}

.nhsuk-care-card {
    margin-top: 0;
}

.br-sm {
    @include mq($from: desktop) {
        display: none;
    }
}

.nhsuk-header__navigation-item--sign-out {
    margin-left: auto;
}


.nhsuk-header__container {
    display: flex;
    
    
    flex-direction: column;
    @include mq($from: desktop) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
}
.nhsuk-header__content-nav {
    display: flex;
    align-items: center;
    @include mq($until: tablet) {
        margin-left: 16px;
    }

    &__id {
        color: #fff;
    }

    a {
        color: #fff;
        &:hover {
            background-color: #003d78;
        }
    }
    .nhsuk-header__navigation-link {
        display: inline-block;
        margin-left: auto;
        @include mq($from: desktop) {
            margin-left: 16px;
        }
    }
}

.nhsuk-header__link--service {
    align-items: center;
    display: flex;
    margin-bottom: 0;
    width: auto;
}

.nhsuk-header__service-name {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
}

/* NHS Login theme added by Gaz Joyce */
.theme-nhs-login {
    .nhsuk-header {
        border-bottom: 2px solid #005eb8;
    }
}