<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'signed-in.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pension estimate
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">Your pension estimate</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-three-quarters">
          <p class="nhsuk-lede-text">If you keep working for the NHS at your current job until you retire, you could get an estimated monthly pension of</p>
        </div>
      </div>

      <div>

        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-one-third">
            <p style="margin-bottom:0;">Starting at</p>
            <h2 class="nhsuk-heading-xl no-margin" style="padding-top:0;">£1,609</h2>
            <p class="no-margin nhs-body-xl">at age</p>
            <h3 class="nhsuk-heading-m" style="padding-top:0;">63</h3>

            <p class="nhsuk-body-s no-margin">with a</p>
            <p class="nhsuk-heading-m no-margin" style="padding-top:0;">£6,243</p>
            <p class="nhsuk-body-s">mandatory lump sum</p>
            
            
          </div>
          <hr class="br-sm">
          <div class="nhsuk-grid-column-one-third">
            <p style="margin-bottom:0;">Rising to</p>
            <h2 class="nhsuk-heading-xl no-margin" style="padding-top:0;">£2,354</h2>
            <p class="no-margin">at age</p>
            <h3 class="nhsuk-heading-m" style="padding-top:0;">67</h3>

            <p class="nhsuk-body-s no-margin">with a</p>
            <p class="nhsuk-heading-m no-margin" style="padding-top:0;">£0</p>
            <p class="nhsuk-body-s no-margin">lump sum</p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Why does the amount I receive increase?
    </span>
    </summary>
    <div class="nhsuk-details__text">
      <h4 class="heading-medium">The NHS pension scheme has changed over time</h4>
      <p>Scheme rule changes in 1995, 2008 and 2015, mean you can receive money from your NHS Pension at different ages. You can still retire at 60 but won't receive money from the other schemes until later.</p>

      <div class="nhsuk-table-responsive" style="margin-top:0">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Pensions scheme changes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Pension scheme</th>
              <th class="nhsuk-table__header" scope="col">Date paid into</th>
              <th class="nhsuk-table__header" scope="col">When you can recieve money from this</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">1995</td>
              <td class="nhsuk-table__cell ">1990 - 2008</td>
              <td class="nhsuk-table__cell ">Age 60</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">2008</td>
              <td class="nhsuk-table__cell ">2008 - 2015</td>
              <td class="nhsuk-table__cell ">Age 65</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">2015</td>
              <td class="nhsuk-table__cell ">2015 - present</td>
              <td class="nhsuk-table__cell ">Age 68</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </details>

  {% include "estimate/includes/disclaimer.html" %}

 

      {# {% include "estimate/includes/about-employment.html" %} #}

      {% include "estimate/includes/factors.html" %}


        <hr>

        {{ backLink({
          "href": "/hub",
          "text": "Go back"
        }) }}


    </div>

    <!-- End of content -->

  </div>
</div>
{% endblock %}