<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pension estimate
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
       Pension estimate
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Beth Smith</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <p><span class="nhsuk-lede-text">If you kept working for the NHS <strong>Full-time</strong> at <strong>Band 6</strong> until <strong>you retire</strong>.</span>
      <br>
      <a href="estimate/start">Change this</a>
      </p>

      <h3 class="heading-medium" style="margin-bottom:25px;">Per month you could get an estimated</h3>

      <div class="invert-panel">

        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-one-third">
            <p style="margin-bottom:0;">Starting at</p>
            <h2 class="nhsuk-heading-xl" style="padding-top:0;">£1,209</h2>
            <p class="no-margin nhs-body-xl">at age</p>
            <h3 class="nhsuk-heading-m" style="padding-top:0;">60</h3>
            <p class="nhsuk-body-s no-margin">with a <strong>£6,243</strong> mandatory lump sum, <a href="#">change this</a></p>
          </div>
          <hr class="br-sm">
          <div class="nhsuk-grid-column-one-third">
            <p style="margin-bottom:0;">Rising to</p>
            <h2 class="nhsuk-heading-xl" style="padding-top:0;">£1,454</h2>
            <p class="no-margin">at age</p>
            <h3 class="nhsuk-heading-m" style="padding-top:0;">65</h3>
            <p class="nhsuk-body-s no-margin">with a <strong>£8,745</strong> mandatory lump sum, <a href="#">change this</a></p>
          </div>
          <hr class="br-sm">
          <div class="nhsuk-grid-column-one-third">
            <p style="margin-bottom:0;">Rising to</p>
            <h2 class="nhsuk-heading-xl" style="padding-top:0;">£1,939</h2>
            <p class="no-margin">at age</p>
            <h3 class="nhsuk-heading-m" style="padding-top:0;">68</h3>
            <p class="nhsuk-body-s no-margin">with no lump sum, <a href="#">change this</a></p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Why does the amount I receive increase over time?
    </span>
    </summary>
    <div class="nhsuk-details__text">
      <h4 class="heading-medium">The NHS pension scheme has changed over time</h4>
      <p>Scheme rule changes in 1995, 2008 and 2015, mean you can receive money from your NHS Pension at different ages. You can still retire at 60 but won't receive money from the other schemes until later.</p>

      <div class="nhsuk-table-responsive" style="margin-top:0">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Pensions scheme changes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Pension scheme</th>
              <th class="nhsuk-table__header" scope="col">Date paid into</th>
              <th class="nhsuk-table__header" scope="col">When you can recieve money from this</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">1995</td>
              <td class="nhsuk-table__cell ">1990 - 2008</td>
              <td class="nhsuk-table__cell ">Age 60</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">2008</td>
              <td class="nhsuk-table__cell ">2008 - 2015</td>
              <td class="nhsuk-table__cell ">Age 65</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">2015</td>
              <td class="nhsuk-table__cell ">2015 - present</td>
              <td class="nhsuk-table__cell ">Age 68</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </details>


      <br>

      {% include "estimate/about-employment.html" %}

      <h3 class="heading-medium" style="margin-bottom:0;">How past and future things shape the amount you could get</h3>

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-one-third">

          {{ careCard({
              "type": "non-urgent",
              "heading": "Increase it",
              "HTML": "
              <ul>
                <li>Time served</li>
                <li>Salary increase</li>
                <li>Retire 1 year later</li>
                <li>State pension</li>
              </ul>
              "
            }) }}

        </div>

        <div class="nhsuk-grid-column-one-third">

          {{ careCard({
          "type": "non-urgent",
          "heading": "No change",
          "HTML": "
          <ul>
            <li>NHS Staff discounts</li>
            <li>12 months maternity leave</li>
            <li>Bonus payments</li>
          </ul>
          "
        }) }}

        </div>

        <div class="nhsuk-grid-column-one-third">

          {{ careCard({
        "type": "urgent",
        "heading": "Reduce it",
        "HTML": "
        <ul>
          <li>Part-time for 2 years</li>
          <li>NHS Lease car</li>
          <li>Cycle to work scheme</li>
          <li>Childcare vouchers</li>
        </ul>
        "
      }) }}

          {# {{ list({
                "title": "Reduce it",
                "type": "cross",
                "items": [
                  {
                    "item": "Part-time for 2 years"
                  },
                  {
                    "item": "NHS Lease car"
                  }
                ]
              }) }} #}

        </div>
        <hr>

      </div>

      {{ details({
          text: "How is my estimate calculated?",
          HTML: "
            <p>Your estimate is not a guarantee.</p>
            <p>It’s based on current law and pay information from your employer which was last updated on <strong class=nobr>31 March 2018</strong>.</p>
            <p>When we calculate your estimate we assume:</p>
            <ul>
              <li>a pay increase of 2% each year</li>
              <li>an inflation figure of 0.5% each year</li>
            </ul>
            <p>We do not take into account:</p>
            <ul>
              <li>any reduction to your pension due to a ‘Pensions on Divorce’ or ‘Scheme Pays’ debit</li>
              <li>any additions to your pension due to Additional Pension you may have bought, or benefits you have transferred from another public sector pension CARE scheme</li>
              <li>any Early Retirement Reduction Buy Out (ERRBO) you may have</li>
              <li>tax. Tax rules are applied when you apply to get your pension</li>      
            </ul>
          "
        }) }}

        <hr>

        {{ backLink({
          "href": "/hub",
          "text": "Go back"
        }) }}


    </div>
    <!--
      <div class="nhsuk-grid-column-one-third" style="margin-top:150px;">
          <h3 class="heading-medium">Past events</h3>
            
        <ul>
            <li>12 months Maternity leave</li>
            <li>Part-time for 2 years</li>
            <li>NHS Lease car for 4 years</li>

        </ul>
          <h3 class="heading-medium">Future plans</h3>
            
        <ul>
            <li>Retire 1 year later</li>
            <li>£25,000 lump sum</li>
            <li>Full state pension at 68</li>
        </ul>
        
      <p><a href="">Change this</a></p>
      </div>-->


    <!-- End of content -->

  </div>
</div>
{% endblock %}