<section>
  <h3 class="heading-medium">About your employment</h3>
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">Past</span>
    </summary>
    <div class="nhsuk-details__text">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <p>You've worked at the NHS for <span style="font-weight:900">19 years</span>, currently <span style="font-weight:900">full-time</span> as a <span style="font-weight:900">Service Designer</span>.</p>
          <p>Things that have happened during this time:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>12 months maternity leave</li>
            <li>Part-time for 2 years</li>
            <li>NHS Lease car</li>
          </ul>

          <a href="">Tell us if something is incorrect or missing</a>

        </div>

      </div>
    </div>
  </details>

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">Future</span></summary>

    <div class="nhsuk-details__text">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <p>Changes you can make which will shape the amount you could get:</p>
        </div>
      </div>
      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-form-group">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="select-1">
                <span style="font-weight:900">Retirement age</span>
              </label>
              <span class="nhsuk-hint" id="dob-hint">Default 60</span>
              <input class="nhsuk-input nhsuk-input--width-5" id="input-width-10" name="test-width-10" type="text">
            </div>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-10">
              <span style="font-weight:900">Lump sum</span>
            </label>
            <span class="nhsuk-hint" id="dob-hint">Maximum £125,000</span>
            <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
          </div>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-1">Include state pension in my estimation</label>
          </div>

        </div>

      </div>
      <br>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <button class="nhsuk-button" type="submit" style="margin-bottom:0">Update</button>
        </div>
      </div>
    </div>

  </details>

</section>