  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
        <h3>This estimate is not a guarantee</h3>
        <p>It’s based on current law and pay information from your employer which was last updated on <strong class=nobr>31 March 2018</strong>.</p>
        {{ details({
        text: "Find out what we assume",
        HTML: "
            <p>When we calculate your estimate we assume:</p>
            <ul>
            <li>a pay increase of 2% each year</li>
            <li>an inflation figure of 0.5% each year</li>
            </ul>
            <p>We do not take into account:</p>
            <ul>
            <li>any reduction to your pension due to a ‘Pensions on Divorce’ or ‘Scheme Pays’ debit</li>
            <li>any additions to your pension due to Additional Pension you may have bought, or benefits you have transferred from another public sector pension CARE scheme</li>
            <li>any Early Retirement Reduction Buy Out (ERRBO) you may have</li>
            <li>tax. Tax rules are applied when you apply to get your pension</li>      
            </ul>
        "
        }) }}
    </div>
</div>