<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
    <p style="margin-bottom:0;">Starting at</p>
    <h2 class="nhsuk-heading-xl no-margin" style="padding-top:0;">£1,209</h2>
    <p class="no-margin nhs-body-xl">at age</p>
    <h3 class="nhsuk-heading-m" style="padding-top:0;">60</h3>
    <p class="nhsuk-body-s no-margin">with a <strong>£6,243</strong> mandatory lump sum, <a href="#">Increase this</a></p>
    </div>
    <hr class="br-sm">
    <div class="nhsuk-grid-column-one-third">
    <p style="margin-bottom:0;">Rising to</p>
    <h2 class="nhsuk-heading-xl no-margin" style="padding-top:0;">£1,454</h2>
    <p class="no-margin">at age</p>
    <h3 class="nhsuk-heading-m" style="padding-top:0;">65</h3>
    <p class="nhsuk-body-s no-margin">with an additional <strong>£8,745</strong> mandatory lump sum, <a href="#">Increase this</a></p>
    </div>
    <hr class="br-sm">
    <div class="nhsuk-grid-column-one-third">
    <p style="margin-bottom:0;">Rising to</p>
    <h2 class="nhsuk-heading-xl no-margin" style="padding-top:0;">£1,939</h2>
    <p class="no-margin">at age</p>
    <h3 class="nhsuk-heading-m" style="padding-top:0;">68</h3>
    <p class="nhsuk-body-s no-margin">with no lump sum, <a href="#">change this</a></p>
    </div>
</div>