<details class="nhsuk-details">
<summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    Why is the amount I could get reduced?
</span>
</summary>
<div class="nhsuk-details__text">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-three-quarters">
            <h4 class="heading-medium">The NHS pension scheme has changed over time</h4>
            <p>Scheme rule changes in 1995, 2008 and 2015, mean you can receive money from your NHS Pension at different times.</p>
            <p>We call this the 'normal pension age'. This is the age that you retire from working for the NHS and have your pension paid without facing a reduction for early payment.</p>
        </div>
    </div>

    <div class="nhsuk-table-responsive" style="margin-top:0">
    <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Pensions scheme changes</caption>
        <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Pension scheme</th>
            <th class="nhsuk-table__header" scope="col">Date paid into</th>
            <th class="nhsuk-table__header" scope="col">Normal pension age</th>
        </tr>
        </thead>
        <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">1995</td>
            <td class="nhsuk-table__cell ">1990 - 2008</td>
            <td class="nhsuk-table__cell ">Age 60</td>
        </tr>
        <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">2008</td>
            <td class="nhsuk-table__cell ">2008 - 2015</td>
            <td class="nhsuk-table__cell ">Age 65</td>
        </tr>
        <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">2015</td>
            <td class="nhsuk-table__cell ">2015 - present</td>
            <td class="nhsuk-table__cell ">Age 68</td>
        </tr>
        </tbody>
    </table>
    </div>

</div>
</details>