{% extends "layout.html" %}

{% block pageTitle %}
We can&rsquo;t find your record {{ serviceName }}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% set bodyClasses = 'theme-nhs-login' %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <h1 class="nhsuk-heading-l">We can&rsquo;t find your record</h1>

      {{ insetText({
        "HTML": "<p>We need you to check and confirm these details.</p>"
      }) }}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "QQ 12 34 56 C"
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Jones"
            }
          },
          {
            key: {
              text: "Date of Birth"
            },
            value: {
              text: "2 April 1974"
            }
          }
        ]
      }) }}

      {{ details({
        "text": "Why are my personal details here?",
        "HTML": "
        <p>We use your National Insurance number and your personal details from NHS Login to find your record.</p>
        "
      }) }}
        
        <hr/>

        <form action="check" method="post">

            {% call fieldset({
              legend: {
                "text": "Are your details correct?",
                "classes": "nhsuk-fieldset__legend--m",
                "isPageHeading": false
              }
            }) %}

            {{ radios({
                "idPrefix": "matchingDetails",
                "name": "matching-details",
                "items": [
              {
                "value": "nino",
                "text": "No, my National Insurance number is wrong"
              },
              {
                "value": "details",
                "text": "No, some of my personal details are wrong"
              },
              {
                "value": "correct",
                "text": "Yes, all of my details are correct"
              }
            ]
            }) }}

          {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}
        </form>


    </div>
</div>
{% endblock %}
