{% extends "layout.html" %}

{% block pageTitle %}
We can&rsquo;t find your record {{ serviceName }}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% set bodyClasses = 'theme-nhs-login' %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <h1 class="nhsuk-heading-l">We can&rsquo;t find your record</h1>

      {{ insetText({
        "HTML": "<p>We need you to check and confirm these details.</p>",
        "classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-5"
      }) }}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sam Jones"
            }
          },
          {
            key: {
              text: "Post code"
            },
            value: {
              text: "MW14 4WW"
            }
          },
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "QQ 12 34 56 C"
            }
          }
        ]
      }) }}

        <form action="check" method="post">

            {% call fieldset({
              legend: {
                "text": "Are your details correct?",
                "classes": "nhsuk-fieldset__legend--m",
                "isPageHeading": false
              }
            }) %}

            {{ radios({
                "idPrefix": "matchingDetails",
                "name": "matching-details",
                "items": [
              {
                "value": "no",
                "text": "No, my details are wrong"
              },
              {
                "value": "yes",
                "text": "Yes, all of my details are correct"
              }
            ]
            }) }}

          {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}
        </form>


    </div>
</div>
{% endblock %}
