{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% set bodyClasses = 'theme-nhs-login' %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    
    {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">There is a problem, we couldn't <br>find your record</h1>


      <h2 class="nhsuk-heading-m">We tried to find your record with these details</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "QQ 12 34 56 C"
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Jones"
            }
          },
          {
            key: {
              text: "Date of Birth"
            },
            value: {
              text: "2 April 1974"
            }
          }
        ]
      }) }}

      {{ details({
        "text": "Why is there a problem?",
        "HTML": "
        <p>There are a number of reasons why there could be a problem, such as:</p>
        <ul>
          <li>we have out-dated information</li>
          <li>you have changed your name</li>
          <li>you use another name</li>
          <li>your employer hasn't updated your details</li>
        </ul>
        "
      }) }}

      <h2 class="nhsuk-heading-m">What happens next?</h2>
      <p>If you're working in the NHS, you may be able to update this information on the NHS Electronic Staff Record (ESR).</p>
      <p>If you do not have access to ESR, you need to either speak to your:</p>
      <ul>
          <li>pensions officer</li>
          <li>employer</li>
      </ul>
      <p>It can take up to 10 days to update your details.</p>

      {{ details({
        "text": "No longer working in the NHS?",
        "HTML": "
        <ul>
            <li>Member helpline: <strong>0300 330 1346</strong></li>
            <li>Member helpline: <strong>0191 279 0571</strong></li>
            <li>Calling from overseas: <strong>0044 191 279 0571</strong></li>
        </ul>
        "
      }) }}
      
      <hr />
      <p class="bsa-print-hide"><a href="javascript:window.print();">Print this page</a></p>

{% endblock %}
