{% extends 'layout.html' %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% set bodyClasses = 'theme-nhs-login' %}

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
        <script type="text/javascript">
          document.write('<h1 class="nhsuk-heading-l">We are checking your details</h1><p>Please wait...</p><span class="loading"></span>')
        </script>

        <noscript>
          <h1 class="nhsuk-heading-l">Continue to next step</h1>
          <p>Because JavaScript is not enabled on your browser, you must use the continue button.</p>
          {{ button({
            "text": "Continue",
            "href": "statement"
          }) }}
        </noscript>
       
    </div>
  </div>

<script>
window.setTimeout(function(){
    window.location.href = "statement";
}, 3000);
</script>
{% endblock %}
