{% extends "layout_bsa.html" %}

{% block page_title %}
We can&rsquo;t find you in our pension records {{ serviceName }} NHS BSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}
    
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="heading-group">
          <p>{{ serviceName }}</p>
          <h1 class="heading-large">We can&rsquo;t find you in our pension records</h1>
        </div>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            We need you to check and confirm these details
          </strong>
        </div>

        <h2 class="heading-medium"><span class="visually-hidden">Check your</span> National Insurance number:</h2>
        <p>You entered: <strong class="bold">{{ data['nino']}}</strong></p>

        <h2 class="heading-medium"><span class="visually-hidden">Now check your</span> Personal details:</h2>
        <ul class="list list-bullet">
          <li>First name: <strong class="bold">Sam</strong></li>
          <li>Last name: <strong class="bold">Jones</strong></li>
          <li>Date of Birth: <strong class="bold">2 April 1974</strong></li>
        </ul>

        {{ govukDetails({
            summaryText: 'Why are my personal details here?',
            text: "When you first accessed your NHS pension you registered with NHS Login.
                    We use your National Insurance number and your personal details from NHS Login to find you in our pension records."
        }) }}
        
        <hr/>

        <form action="check" method="post">
          <fieldset class="form-group">
            <legend class="heading-medium">Are your details correct?</legend>
            <div class="multiple-choice">
              <input id="matching-nino" name="matching_details[]" type="radio" value="nino">
              <label for="matching-nino">No, my National Insurance number is wrong</label>
            </div>
            <div class="multiple-choice">
              <input id="matching-details" name="matching_details[]" type="radio" value="details">
              <label for="matching-details">No, some of my personal details are wrong</label>
            </div>
            <div class="multiple-choice">
              <input id="matching-correct" name="matching_details[]" type="radio" value="correct">
              <label for="matching-correct">Yes, all my details are right</label>
            </div>
          </fieldset>
          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>
        </form>

      </div>
    </div>
</main>

{% endblock %}
