{% extends 'layout.html' %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% set bodyClasses = 'theme-nhs-login' %}

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

        <form action="confirm" method="post" class="form">

          {% call fieldset({
            legend: {
              "text": "Confirm these details",
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          }) %}

            {{ insetText({
              "HTML": "<p>You need to confirm this information so that we can find your record.</p>",
              "classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-5"
            }) }}


            {% set NameHintText %}
              {{ hint({
                "html": "Enter it as it’s written on official documents such as a passport or driving licence."
              }) }}
            {% endset %}

            {{ input({
              "label": {
                "html": "What is your full name?" + NameHintText
              },
              "id": "name",
              "name": "name",
              "classes": "nhsuk-input--width-20"
            }) }}

            {{ input({
              "label": {
                "html": "What is your post code?"
              },
              "id": "postcode",
              "name": "postcode",
              "classes": "nhsuk-input--width-10"
            }) }}

          {% set NIHintText %}
            {{ hint({
              "html": "It's on your National Insurance card, benefit letter, payslip or P60. <br>For example, ‘QQ 12 34 56 C’."
            }) }}
          {% endset %}

            {{ input({
              "label": {
                "html": "What is your National Insurance number?" + NIHintText
              },
              "id": "nino",
              "name": "nino",
              "classes": "nhsuk-input--width-10"
            }) }}

          {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}

        </form>

    </div>
  </div>
{% endblock %}
