{% extends "layout_empty.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">    
    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="heading-group">
            <p>{{ serviceName }}</p>
            <h1 class="heading-large">This is where the NHS Login application takes over</h1>
        </div>

        <p>Once a user has signed in with NHS Login they will be brought back to our service and we'll need to match
        their NHS Login data with our data.</p>
        <p>We'll use National Insurance number to get a high probability of matching
        a user to someone in our pension records.</p>

        <p>We'll still need a pattern to catch users who aren't matched.</p>
        <p>Enter <strong class="bold">QQ 12 34 56 C</strong> on the <a href="nino">next</a> screen to trigger a not matched scenario</p>

      </div>
    </div>
</main>

{% endblock %}
