{% extends "layout_bsa.html" %}

{% block page_title %}
You&rsquo;ll need to update your personal details {{ serviceName }} NHS BSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}
    
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="heading-group">
          <p>{{ serviceName }}</p>
          <h1 class="heading-large">Update your personal details</h1>
        </div>
        <h2 class="heading-medium">Personal details:</h2>
        <ul class="list list-bullet">
          <li>First name: <strong class="bold">Sam</strong></li>
          <li>Last name: <strong class="bold">Jones</strong></li>
          <li>Date of Birth: <strong class="bold">2 April 1974</strong></li>
        </ul>
        <p>You need to <a href="#">update your personal details on NHS Login</a>.</p>

      </div>
    </div>
</main>

{% endblock %}
