<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
{{ header({
"service": {
        "name": "Total Reward Statements",
        "href": "/"
      },
    "showNav": "true",
    "showSearch": "true",
    "classes": "nhsuk-header--white"
  })
}}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
        <h1 class="nhsuk-heading-l">
            Confirm your identity
            {# <span class="nhsuk-caption-m nhsuk-caption--bottom">Summer 2020</span> #}
        </h1>

        {{ insetText({
            "HTML": "<p>You need to sign in with NHS Login to view your Total Reward Statements.</p>"
        }) }}

        <p>If you have not used NHS Login before, it will take you about 5 minutes to get set up
        and you can use it on other NHS services such as the NHS App.</p>

        <a href="/nhs-login" style="width:325px; display: block;">
            <img src="/images/SignInWith_Original@2x.png" alt="Sign in with NHS Login" style="width:100%;">
        </a>
    
        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <p>You can also <a href="#">sign in with GOV.UK Verify</a>.</p>

    </div>
  </div>
{% endblock %}
