<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{# {% block header %}

{% endblock %} #}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ serviceName }} prototypes</h1>

      <p><a href="https://miro.com/welcomeonboard/T7UcP31gkEGe5swR4rLn55uhI0YzsS6Xz8evnfvDD0LTCO8KPk3SabpzWGxla3IC">Complimentary user journey diagrams in Miro.</a></p>

      <hr />

      <h2 class="nhsuk-heading-s">
        <span class="nhsuk-caption-m">(Entry)</span>
        1. How does a user access thier total reward statements?
      </h2>
      {# <p class="nhsuk-hint">We need to explore options around this.</p> #}

      {{ contentsList({
        items: [
          {
            href: "1/a/home",
            text: "a. Through a choices page in our service"
          },
          {
            href: "1/a/corporate",
            text: "The corporate website page would also need an update"
          },
          {
            href: "1/b/corporate",
            text: "b. Through a choices page on the corporate website"
          }
        ]
      }) }}

      <hr />

      <h2 class="nhsuk-heading-s">
        <span class="nhsuk-caption-m">(Matching)</span>
        2. How does a user match thier NHS Login data with Known Facts?
      </h2>
      <p class="nhsuk-hint">Once a user has registered with NHS Login we need to check if thier
      data matches the record in our "Known Facts" (Compendia) service.</p>

      {{ contentsList({
        items: [
          {
            href: "2/a/nino",
            text: "a. Confirm National Insurance number only"
          },
          {
            href: "2/b/confirm",
            text: "b. Confirm National Insurance number, first name and post code"
          }
        ]
      }) }}

      <hr>

      <h2 class="nhsuk-heading-s">
        <span class="nhsuk-caption-m">(Matching)</span>
        3. How does a user match thier GOV.UK Verify data with Known Facts?
      </h2>
      <p class="nhsuk-hint">Once a user has registered with GOV.UK Verify we need to check if thier
      data matches the record in our "Known Facts" (Compendia) service.</p>
      {{ contentsList({
        items: [
          {
            href: "3/a/nino",
            text: "a. Confirm National Insurance number only"
          },
          {
            href: "3/b/confirm",
            text: "b. Confirm National Insurance number, first name and post code"
          }
        ]
      }) }}

      <hr>

      <h2 class="nhsuk-heading-s">
        <span class="nhsuk-caption-m">(Alternates)</span>
        4. What other access mechanisms could we use?
      </h2>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
